<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<h1>this is new about section</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo
			laboriosam deleniti corporis eius? Voluptas illum ea error ab
			consequuntur aspernatur fugiat molestias labore rerum accusamus ullam
			voluptatem iste similique quasi vel soluta quibusdam velit earum
			dolore unde sit molestiae in! Nulla totam necessitatibus non.
			Pariatur atque harum cum illo officiis?
		</p>
	</section>
</body>
</html>